<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>C+R Friends</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	</head>
	<body>
		<h1 class="text-center">All me frans!</h1>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Occupation</th>
				</tr>
			</thead>
			<tbody>
				{% for i in friends %}
					<tr>
						<td>{{ i["first_name"] }}</td>
						<td>{{ i["last_name"] }}</td>
						<td>{{ i["occupation"] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3 class="text-center">Add more friends</h3>
		<form action="/create_friend" method="post" class="text-center">
			<div class="col-md-3 d-inline-block">
				<label>First Name</label>
				<input type="text" name="first_name">
			</div>
			<div class="col-md-3 d-inline-block">
				<label>Last Name</label>
				<input type="text" name="last_name">
			</div>
			<div class="col-md-3 d-inline-block">
				<label>Occupation</label>
				<input type="text" name="occupation"">
			</div>
			<button type="submit" class="btn btn-success">Add</button>
		</form>
	</body>
</html>