<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Leads and Clients</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	    	google.charts.load('current', {'packages':['corechart']});
	    	google.charts.setOnLoadCallback(drawChart);

	    	function drawChart() {

	        	var data = google.visualization.arrayToDataTable([
	        		['Task', 'Hours per Day'],
	        		{% for i in l %}
	        			['{{ i["full_names"] }}', {{ i["leads"] }}],
	        		{% endfor %}
	        	]);

	        	var options = {
	        		title: 'Customers and number of new leads'
	        	};

				var chart = new google.visualization.PieChart(document.getElementById('piechart'));

	        	chart.draw(data, options);
	      	}
	    </script>
	</head>
	<body>
		<p>List of all customers and # of leads</p>
		<table class="table-striped table-bordered">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Number of Leads</th>
				</tr>
			</thead>
			<tbody>
				{% for i in l %}
				<tr>
					<td>{{ i["full_names"] }}</td>
					<td>{{ i["leads"] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div id="piechart" style="width: 900px; height: 500px;"></div>
	</body>
</html>